body{
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background: #CCCCCC;
}

td,th{
    width: 50px;
    height: 30px;
}

table{
    width: 50%;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center  ;
}

.pass {
    background:#00FF00;
}

.fail {
    background:#FF0000;
}

.left {
    text-align: left;
}